.squareDiv {
	height: 96vh;
	width: 96vh;
	background-color: black;
	margin: auto;
	color: white;
}

.tile {
	height: 6vh;
	width: 6vh;
	float: left;
}
.wall {
	background-color: #4d2600;
}
.open {
	background-color: gray;
}
.door {
	background-color: black;
}
.mobs{
	background-color: blue;
}
.play {
	background-color: gray;
	background-image: url("chibiSquid.png");
	background-size: 6vh;
}
