.left {
	width: 49vw;
	float: left;
}
.right {
	width: 49vw;
	float:right;
}
.squareDiv {
	height: 48vw;
	width: 48vw;
	background-color: black;
	margin: auto;
	color: white;
	float: right;
}
.map {
	height: 45vw;
	width: 45vw;
	background-color: black;
	margin: auto;
	color: white;
	float: left;
}

.roomTile {
	height: 9vw;
	width: 9vw;
	float: left;
}
.tile {
	height: 3vw;
	width: 3vw;
	float: left;
}
.wall {
	background-color: #4d2600;
}
.open {
	background-color: gray;
}
.door {
	background-color: black;
}
.mobs{
	background-color: blue;
}
.play {
	background-color: gray;
	background-image: url("chibiSquid.png");
	background-size: 3vw;
}
